/* Color definitions
.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #9E9E9E; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
*/

* {
	font-family: 'Titillium Web', sans-serif;
}

body {
	font-size: 1.5em;
	background: #FFFDF9;
	margin: auto;
	height: 100%;
	width: 100%;
}

button:focus {
	outline:0;
}

button:hover {
	cursor: pointer;
}

/*	=== General Content ===	*/

#app-content {
	position: fixed;
	top: 8%;
	width: 100%;
	height:92%;
	overflow-y: auto;
	padding-bottom: 50px;
}

.sub-header {
	background-color: #03A9F4;
	width: 100%;
	text-align: center;
	color: #FFF;
	padding: 15px 0;
	margin: auto;
}

/* === Modal === */
.modal-close {
	float: right;
	font-size: 100%;
	color: #0288D1;
	border-style: none;
	background: none;
}

/*	=== Nav Bar ===	*/
#app-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #0288D1;
	width: 100%;
	height: 8%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#app-nav button {
  height:100%;
  font-size: 115%;
  color: #FFF;
  text-align: center;
  background-color: rgba(0,0,0,0);
  border-style: none;
  margin: 0;
  padding: 0 4%;
}

#app-nav button:hover {
	background-color: rgba(1,1,1,0.2);
	color: rgba(255,255,255,0.9);
	padding-top: 4px; 
	border-bottom: 4px solid #BDBDBD;
}


/*  === Welcome === */
#welcome {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: auto;
	color: #212121;
}

#welcome-content {
	position: relative;
	top: -18%;
	width: 100%;
	text-align: center;
}

#welcome-content hr {
	width: 15%;
}

#welcome-content h5 {
	color: #757575;
}

/*  === About === */
#about-pic {
	width: 30%;
  -ms-flex-item-align: start;
  align-self: start;
  position: relative;
  top: 10px;
}

#about-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	margin-top: 10px;
	margin-left: 0;
	margin-right: 0;
}

#about-nav button {
	width: 125px;
	height: 50px;
	color: #FFF;
	background: #03A9F4;
	border-style: none;
	font-size: 100%;
	text-align: center;
	border-radius: 8px;
}

#about-nav button.about-dark {
	background: #0288D1;
}

#about-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#about-nav > :first-child {
	margin-right: 5%;
}

#about-container {
	margin: auto;
}

#about-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	width: 90%;
	position: relative;
	left: 5%;
}

.about-section {
	width: 70%;
	height: 70%;
}


/* === Education === */
#edu-container h2 {
	margin-bottom: 3%;
}

#edu-content > :last-child {
	/*padding-bottom: 50px;*/
}

#edu-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#edu-content {
	width: 80%;
	margin: auto;
	-ms-flex-item-align: center;
	align-self: center;
}

#edu-content .edu-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: left;
	-ms-flex-align: left;
	align-items: left;
}

#edu-content .edu-item a{
	margin: auto;
	margin-left: 15px;
}

/* === Skills === */

#skills-container {
}

#skills-content {
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#skills-content .skillset {
	display: inline-block;
	text-align: center;
	margin: auto;
	padding-bottom: 20px;
}

.skillset > h3 {
	display: block;
	margin: auto;
	padding-bottom: 5px;
	border-bottom: 3px solid #BDBDBD;
}

#skills-content ul {
	-ms-flex-item-align: center;
	align-self: center;
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
	width: 80%;
}

#skills-content ul li{
 width:  100%;
 -webkit-transition: all 0.4s ease;
 transition: all 0.4s ease;
 display: inline-block;
 padding: 5px 0;
 color: #666;
 background:  #B3E5FC;
 text-align: center;
 font-size: 90%
}

#skills-content ul li:hover {
	background: #0288D1;
	color: #FFF;
}

/* === Experience === */

#experience-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin: auto;
}

#experience-section img {
	margin: 5% auto;
	padding: 0 2%;
	max-width: 15%;
}

#experience-section img:hover {
	cursor: pointer;
}

.logo-external {
	margin: auto;
	width: 200px;
}

/* === Projects === */

#projects-background {
	background: #eee;
	padding-bottom: 35px;
}

#projects-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	align-content: center;
	width: 85%;
	margin: auto;
}

.project {
	margin: 5px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.project > p {
	text-align: center;
	margin: 15px 0;
}

.project:first-of-type { 
	margin-left: auto;
}

.project:last-of-type { 
	margin-right: auto;
}

.project ul {
	margin: auto;
}

.project ul li {
	font-size: 80%;
	margin: 10px auto;
}

.project a img.logo {
	margin-top: 10px;
	max-height: 150px;
	max-width: 200px;
}

/* === Contact === */

#contact-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#contact-container ul {
	list-style: none;
	margin-top: 8%;
}






